<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mozeeb.insanpeduli">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profil"
            android:label="Back"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".profil" />

        <activity
            android:name=".bantuan"
            android:label="Bantuan" />
        <activity
            android:name=".verifikator"
            android:label="Verifikator" />
        <activity
            android:name=".Donasi_SIP"
            android:label="Donasi SIP" />
        <activity
            android:name=".kutipan_SIP"
            android:label="Kutipan SIP" />
        <activity
            android:name=".laporan"
            android:label="Laporan" />
        <activity android:name=".login"
            android:label="Login"/>
        <activity android:name=".register"
            android:label="Register"></activity>
    </application>

</manifest>